body{
    text-align: center;
    font-size:40px;
     background-color: rgb(159 120 120);
}

#return {
background-color: rgb(197 213 213);
    text-align: right;
}
#time{
    font-size:50px;
    text-align: center;
    margin:20px;
}


table {
    margin-top:60px;
    margin-left: auto;
    margin-right: auto;
}

input{
    font-size:10px;
    width: 100px;    
    height: 20px;  
    margin-left: 150px;
    background-color: black;
    color:white;
    text-align: center;
}


button{
    font-size:40px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color:black;
    color:#e8dfdf;
    margin:auto;
    width:100px;    
    height:70px;
    border-radius: 20%;
    margin:10px;
    
    }



