<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>反射神経</title>
    <link rel="stylesheet" href="game.css">
    <style>
        @media screen and (max-width: 768px) {
          body {
            touch-action: pan-x pan-y;
          }
        }
      </style>
</head>
<body>
    <div id="return">
    <a href="/">戻る</a>
    </div>
    <table id="table">
    
    <tr>
    <td><button id="1" ></button></td>
    <td><button id="2" ></button></td>
    <td><button id="3" ></button></td>
    </tr>

    <tr>
        <td><button id="4" ></button></td>
        <td><button id="5" ></button></td>
        <td><button id="6" ></button></td>
    </tr>

    <tr>
        <td><button id="7" ></button></td>
        <td><button id="8" ></button></td>
        <td><button id="9" ></button></td>
    </tr>

    </table>
<div id="time">00:00:00.000</div>
<input type="button" id="startGame"value="ゲームを開始する" onClick="gameStart()">
<div id="end"></div>
<br>
<div id="score"></div>
<br>
<div id="ranking"></div>
<br>
<div id="once"></div>
<br>
<div id="touchData" data-touch="<%- JSON.stringify(touch.time) %>"></div>

<script src="game.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>