<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    
</head>
<body>
    <h1>反射神経のゲーム</h1>
    <div id="background">
    <a href="/touch">ゲームを始める</a>
    <a href="/ranking">ランキング一覧</h1>
    </div>
    
</body>
</html>