<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>反射神経のゲーム</h1>
    <h1><a href="/touch">ゲームを始める</h1></a>
    <h1><a href="/ranking">ランキング一覧</h1></a>
</body>
</html>