

.ranking{
    color:black;
    background-color: rgb(197 213 213);
     border: 2px solid black;
     text-align: center;
     font-size:20px;
     text-align: center;
 }
 
 .itiran {
     margin-top: 50px;
 } 
 .header {
     
     background-color:rgb(125, 141, 155);
     height:60px;
     text-align:right;
     font-size:40px;
 }
 